@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url(https://github.com/nurnaoe/nft-minting-solana-front/blob/main/public/back.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#footer-content {
  background-color: red;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

img {
  width: 250px;
  height: 300px;
}
